
h1 {
    text-align: center;
    font-family: "Bitcount Prop Single";
    font-size: 2.5em;
    font-weight: 400;
}

.test {
    text-align: center;
    font-family: "Bitcount Prop Single";
    font-size: 1.8em;
}

.test2 {
    text-align: center;
    font-family: "Bitcount Prop Single";
    font-size: 1.5em;
}

body {
    background-color:cornflowerblue;
}

.desk-partment {
    background-color: azure;
    width: 1000px;
    height: 400px;
    margin: auto;
    border: 5px solid blue ;
    border-radius: 10px;
    position: relative;
}

.resident {
    position: absolute;
    width: 128px;
    height: 192px;
    left: 600px;
    bottom: 0;
}